VITE_EMAILJS_SERVICE_ID=your_service_id
VITE_EMAILJS_TEMPLATE_ID=your_template_id
VITE_EMAILJS_PUBLIC_KEY=your_public_key
VITE_GOOGLE_API_KEY=your_google_api_key
VITE_GOOGLE_PLACE_ID=your_google_place_id
VITE_API_BASE_URL=http://127.0.0.1:8000

VITE_UPI_ID=your_upi_id
VITE_UPI_PAYEE_NAME=AD Photography

